* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 100vh;
    /* background-color: var(--i); */
    display: flex;
    justify-content: center;
    align-items: center;
}


p {
    text-align: center;
    font-size: 5em;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    white-space: initial;
    font-weight: 700;
}